.form {
  background-color: #f1f6f6;
  height: 300px;
  width: 100%;
  display: block;
  z-index: 10000;
  position: relative;
  border: 1px solid #003b95;
}

.form_container {
  width: calc(100% - 34px);
  margin-left: 17px;
  margin-right: 17px;
  display: block;
}

.align_form_parts {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.form_left_side,
.form_right_side {
  width: 49%;
  display: block;
}

.align_columns {
  display: flex;
  gap: 10px;
}

.form-input {
  font-size: 12px;
  font-family: "Montserratarm";
  color: #dadada;
}

.label {
  font-size: 12px;
  color: #aeaeae;
}

.divider {
  margin-top: 15px;
  width: 1px;
  height: 207px;
  display: block;
  background-color: #e1e1e1;
}

.column {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* gap: 22px; */
  /* margin-left: 17px; */
  margin-top: 5px;
}

textarea {
  /* resize: none; */
  resize: vertical;
  width: calc(100% - 19.5px);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #aeaeae;
  font-size: 12px;
  font-family: "Montserratarm";
  font-weight: normal;
  outline: none;
  padding-left: 19.5px;
}

textarea::placeholder {
  color: #dadada !important;
  font-size: 12px !important;
  font-family: "Montserratarm" !important;
  font-weight: normal !important;
}

.label_text {
  font-size: 10px;
  color: #aeaeae;
  display: block;
}
.label_tooltip {
  height: 10px;
}
.label_container {
  margin-left: 20px;
  height: 10px;
  background-color: #f1f6f6;
  display: flex;
  gap: 6px;
  margin-bottom: 10px;
  align-items: center;
  font-family: "Montserratarm";
  font-weight: normal;
}

.actions {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.cancel {
  color: #b7b7b7;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  height: calc(30px - 14px);
  display: inline-block;
  padding: 6px 16px;
  border-radius: 12px;
  border: 0.5px solid #aeaeae;
  background-color: #ffffff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.save {
  height: calc(30px - 14px);
  display: inline-block;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  color: #ffffff;
  padding: 6px 16px;
  border: 0.5px solid #003b95;
  background-color: #003b95;
  border-radius: 12px;
}

.view_actions {
  display: flex;
  justify-content: end;
}

.edit {
  height: 32px;
  width: 32px;
  margin: 20px;
  cursor: pointer;
}
