.label_text {
  font-size: 10px;
  color: #aeaeae;
  display: block;
}

input {
  width: calc(100%);

  background-color: transparent;
  font-size: 12px !important;
  font-family: "Montserratarm";
  font-weight: normal;
  border: none;
  border-bottom: 1px solid #aeaeae;
  color: #212121;
  padding: 0;
}

.label_tooltip {
  height: 10px;
}

.custom_input {
  display: block;
  background-color: #f1f6f6;
  width: 100%;
  min-width: 100%;
  min-height: 35px;
  padding: 0;
}

::ng-deep .mat-mdc-form-field-infix {
  background-color: #f1f6f6;
  height: 34px !important;
  display: block !important;
  position: relative !important;
  padding: 0 3px !important;
}

::ng-deep .mat-mdc-text-field-wrapper {
  margin-bottom: 12px;
  height: 36px !important;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  height: 0;
  display: none !important;
}

::ng-deep .mat-datepicker-content-container {
  z-index: 300000 !important;
}

::ng-deep .cdk-overlay-container {
  z-index: 30000;
}
::ng-deep .mat-mdc-form-field-focus-overlay {
  background-color: #f1f6f6 !important;
}

::ng-deep .mdc-text-field--filled {
  background-color: #f1f6f6 !important;
}

::ng-deep input::placeholder,
::ng-deep .select::placeholder,
::ng-deep .mat-mdc-select-placeholder {
  color: #dadada !important;
  font-size: 12px !important;
  font-family: "Montserratarm" !important;
  font-weight: normal !important;
}

::ng-deep .mat-mdc-icon-button {
  margin-bottom: 10px;
}

.label_container {
  height: 10px;
  background-color: #f1f6f6;
  display: flex;
  gap: 6px;
  align-items: center;
  font-family: "Montserratarm";
  font-weight: normal;
}

::ng-deep .mdc-line-ripple--active {
  background-color: #f1f6f6;
}

::ng-deep .mdc-icon-button {
  padding: 0;
}

.toggle {
  /* justify-content: start; */
  display: flex;
  position: relative;
  margin-top: -6px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.select {
  width: calc(100%);

  background-color: transparent;
  font-size: 12px;
  border: none;
  border-bottom: 1px solid #aeaeae;
  color: #212121;
  padding: 0;
}

input[type="text"].picker_text {
  cursor: pointer; /* Show pointer cursor */
  pointer-events: none; /* Disable pointer events */
}
