<div class="header">
  <img
    class="logo"
    src="../../../assets/icons/logo.svg"
    height="32"
    width="32"
  />
  <div class="settings">
    <button data-count="1" class="bell clear_btn">
      <img
        class="ball-image"
        data-count="1"
        src="../../../assets/icons/bell.svg"
      />
    </button>
    <div class="user">
      <img src="../../../assets/icons/Avatar.svg" class="avatar" />
      <span class="name">Pixsellz</span>
    </div>
    <button class="clear_btn dots_btn">
      <img src="../../../assets/icons/dots.svg" class="dots" />
    </button>
  </div>
</div>
