<div class="side_menu">
  <button class="clear_btn bk_none" id="skip_btn">
    <img class="skip" src="../../../assets/icons/skip.svg" />
  </button>
  <div class="btns">
    <button class="clear_btn bk_none">
      <img class="icon" src="../../../assets/icons/window.svg" />
    </button>
    <button class="clear_btn bk_none">
      <img class="icon" src="../../../assets/icons/contact.svg" />
    </button>
    <button class="clear_btn bk_none">
      <img class="icon" src="../../../assets/icons/document.svg" />
    </button>
    <button class="clear_btn bk_none">
      <img class="icon" src="../../../assets/icons/social-service.svg" />
    </button>
    <button class="clear_btn bk_none">
      <img class="icon" src="../../../assets/icons/settings.svg" />
    </button>
  </div>
</div>
